APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

## 自定义环境变量 ##

# 主题/模板 ： view目录下文件夹名称
APP_TM=default

## 网站配置 ##

# 网站名称 ： brand标题 / 网页默认title
CONF_SITE_NAME='Site Name'
# 公司代码 ： 代理企业注册代码，用于制单等
CONF_AGENT_CODE='CODE'
# 公司名称地址 ： 用于总单发货人（注意：写成一行，用双引号包括，换行用\n）
CONF_AGENT_ADDR="COMPANY NAME\nADDRESS\nTEL"